/* media queries start small(min-width 1000px) to large(min-width 1500px)*/

html {
    scroll-behavior: smooth;
  }
  

body {
    margin: 0;
    padding: 0;
    background: rgb(190, 190, 190);
    font-family: monospace;
}

header {
    background-color: rgb(126, 126, 126);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2; /* arrange of top*/
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header .container ul {
    display: flex;
    justify-content: space-evenly;
}

#header a{
    color: white;
    text-decoration: none;
}

#header .container ul li {
    font-size: 1.5em;
    margin-top: 40px;
    letter-spacing: 0.15em;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    /* border: 10px solid black; */
    z-index: 5;
}

.pinboard {
    width:95; /*100% of container*/
    background-color: #B58151;
    border-top:20px solid #C89965;
    border-right:20px solid #D7A572;
    border-bottom:20px solid #C89965;
    border-left:20px solid #D7A572; 
    margin-top: 15%; /*defines spacing between sections*/
    position: relative;
    z-index: 1; /*-1 to 1 cannot click a-links */
    }

#home-pinboard {
    height: 600px;
    margin-right: 50px;
}

#profile-pic{
    width: 60%;
    height: 100%;
    /* background-color: pink; */
    position: absolute; /*so div containing home notes can be alighned*/
    /* z-index: -1; send backward so note is viewable in same left column */
}

#profile-pic img{
    width: 80%;
    display: block; /*block element to fill 100%, for horizontal centering*/
    margin: 0 auto;
    padding-top: 15%; /*inside home-pinboard*/
}

#home-rightcolumn{
    float: right;
    /* background-color: red; */
    width: 30.25%;
    height: 100%;
    margin-right: 5%;
    position: relative;
}

.note{ 
    /* background-color: green; */
    position: relative;
    margin: 0;
}

.note img{
    width: 100%;
    margin-bottom: 5px;
}

.first-note{
    margin-top: 30%; /* in respect to size of note, doesn't matter for now */
    margin-bottom: 10%;
}

#about-pinboard {
    height: 1100px;
    position: relative;
}

#about-midcolumn{
    width: 28.5%;
    /* background-color: red; */
    height: 100px;
    margin: 0 auto;
    margin-bottom: 0%; /* defines margin-bottom for first-note*/
}

#ABOUT ul {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#ABOUT ul li{
    width: 100%;
    padding: 2%; /* guessed to match current note size */
}

#project-pinboard {
    height: 1300px;
    position: relative;
}

#project-midcolumn{
    width: 28.5%;
    /* background-color: red; */
    height: 100px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 20%; /* defines margin-bottom for first-note*/
}


#PROJECTS ul {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#PROJECTS ul li{
    width: 100%;
    padding: 4%; /* guessed to match current note size */
}

#CONTACTS img{
    text-align: center;
    width: 60%;
    padding: 0;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 90%; /* same location when pressing sections on header */
}

@media only screen and (min-width: 1100px){
    .container {
        width: 75%;
    }
}

@media only screen and (min-width: 1300px){
    .container {
        width: 60%;
    }
}

@media only screen and (min-width: 1650px){
    .container {
        width: 70%;
    }

    #home-pinboard {
        height: 900px;
    }

    #about-pinboard {
        height: 1500px;
    }

    
    #CONTACTS img{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 30%;
    }




}